[submodule "clfdm"]
	path = clfdm
	url = https://bitbucket.org/khansari/clfdm
[submodule "OptimalControlTutorials"]
	path = OptimalControlTutorials
	url = https://github.com/i-abr/OptimalControlTutorials.git
[submodule "TorchMPC"]
	path = TorchMPC
	url = https://github.com/i-abr/TorchMPC.git
[submodule "mpc-koopman"]
	path = mpc-koopman
	url = https://github.com/i-abr/mpc-koopman.git
[submodule "KLE3"]
	path = KLE3
	url = https://github.com/i-abr/KLE3.git
